header {
  display: inline-block;
}

body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}

p {
  margin: 0;
}

.bg {
  height: 100%;
  z-index: -1;
  position: absolute;
}

.body {
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.date {
  margin-right: 20px;
  text-align: right;
}

.envelope {
  cursor: pointer;
  padding-top: 7px;
  padding-bottom: 7px;
}

.inbox {
  left: 40%;
  font-weight: bold;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 2px;
  position: fixed;
}

.mailline {
  color: #222;
  background: rgba(255, 255, 255, .7);
  border-spacing: 2px;
  border-color: gray;
  border-bottom: 1px #e5e5e5 solid;
}

.current {
  background: rgba(230, 144, 76, 1);
}

.sender {
  margin-left: 20px;
}

.subject {
  font-weight: bold;
}
